<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="box" id="heading">
        <% if(kindOfDay === 'Sunday') {%> 
            <h1 style="color:white"> <%=kindOfDay%></h1>
        <% }else  {%> 
            <h1 style="color:black"> <%=kindOfDay%></h1>
        <% } %>
    </div> 

    <div class="box">
        <% for( let i = 0; i < newListItemsH.length; i++ ) { %>
            <div class="item">
                <input type="checkbox" name="" id="">
                <p> <%= newListItemsH[i] %> </p>    
            </div>
        <% } %>

        <form class="item" action="/" method="POST">
            <input placeholder="New Item" type="text" name="newItem" id="" autocomplete="off">
            <button type="submit" name="btn">+</button>
        </form>
    </div>

</body>

</html>